@model ISSZnidar.Web.Models.Termin

@{
    ViewData["Title"] = "Podrobnosti";
}

<h2>Podrobnosti</h2>

<div>
    <h4>Termin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zacetek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zacetek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Konec)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Konec)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Predmet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Predmet.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TerminId">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
